





@import url('base.css');


body{
	width: 100%;
	height: auto;
}
.tianchong{
	width: 100%;
	height: 0.5rem;
}
/* 头部开始 */
header{
	width: 100%;
	height: 0.5rem;
	background: #fff;
	display: flex;
	justify-content: space-between;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
}
.header-left{
	display: block;
	width: 0.3rem;
	height: 100%;
	/* background: red; */
	padding-left: 0.13rem;
	padding-top: 0.18rem;
}
.header-right{
	display: block;
	width: 0.3rem;
	height: 100%;
	/* background: red; */
	padding-right: 0.13rem;
	padding-top: 0.18rem;
}
.header-left img{
	display: block;
	width: 0.16rem;
	height: 0.16rem;
}
.header-right img{
	display: block;
	width: 0.16rem;
	height: 0.16rem;
}
.header-center{
	width: 1.2rem;
	height: 100%;
	/* background: yellow; */
	display: flex;
	
}
.header-center1-div{
	width: 0.02rem;
	height: 0.18rem;
	background: #f0f0f0;
	margin-top: 0.17rem;
}
.header-center1,.header-center2{
	display: block;
	width: 0.6rem;
	height: 100%;
	/* background: green; */
	font-size: 0.16rem;
	color: #1e1e1e;
	text-align: center;
	line-height: 0.5rem;
}
.header-center1{
	color: #f26166;
	border-bottom: 0.02rem solid #f15958;
}
/* 头部结束 */
/* 导航开始 */
#wrapper {
	width: 100%;
	height: 0.4rem;
	overflow: hidden;
}
#scroller{
	width: 9rem;
	font-size: 16px;
}
#scroller ul{
	width: 100%;
	height: 0.4rem;
	background: #F5F4FA;
	line-height: 0.4rem;
}
#scroller li{
	float: left;
	width: 1rem;
	height: 100%;
	text-align: center;
	line-height: 0.4rem;
}
/* 导航结束 */
/* 轮播图开始 */
.lunbotu{
	display: block;
	width: 100%;
	height: 1.76rem;
	/* background: red; */
	position: relative;
}
.swiper-slide{
	position: relative;
}
.banner{
	display: block;
	background: red;
}
.banner a{
	display: block;
	width: 100%;
	height: 100%;

	position: absolute;
	top: 0;
	left: 0;
	z-index: 999999;
}
.banner img{
	display: block;
	width: 100%;
	height: 1.76rem;
}
/* 轮播图结束 */
/* 新闻内容开始 */
.xinwenneirong{
	width: 100%;
	height: auto;
	/* background: green; */
}
.xinwenneirong li{
	width: 100%;
	height: 1.03rem;
	/* background: red; */
	display: flex;
	padding-left: 0.13rem;
}
.xinwenneirong li a{
	display: block;
	width: 100%;
	height: 1.03rem;
	border-bottom: 1px solid #f0f0f0;
	display: flex;
	justify-content: space-between;
	padding-right: 0.13rem;
}
.xinwenneirong li img{
	display: block;
	width: 0.78rem;
	height: 0.77rem;
	align-self: center;
}
.xinwenneirong-left{
	width: 2.4rem;
	height: 100%;
	/* background: green; */
}
.xinwenneirong-left1{
	font-size: 0.12rem;
	color: #a8a8a8;
	padding-top: 0.1rem;
}
.xinwenneirong-left2{
	font-size: 0.14rem;
	color: #070707;
	padding-top: 0.09rem;
}
.xinwenneirong-left3{
	font-size: 0.12rem;
	color: #a8a8a8;
	padding-top: 0.05rem;
}
/* 新闻内容结束 */
