/*
* @Author: Administrator
* @Date:   2017-08-06 15:41:46
* @Last Modified by:   Administrator
* @Last Modified time: 2017-08-07 09:52:36
*/
@import url('base.css');
body{
	height: 6rem;
	display: flex;
	position: relative;
}
.photo-box{
	width: 100%;
	height: 0.5rem;
	background: #ffffff;
	position: relative;
	border-bottom: 0.01rem solid #efefef;
}
/* .photo-box img{
	width: 100%;
	height: 100%;
	display: block;
} */
.top-box{
	width: 100%;
	height: 0.15rem;
	/* background: red; */
	position: absolute;
	top: 0.17rem;
	left: 0;
	display: flex;
	justify-content: space-between;
	position: fixed;
	/* margin-top: 0.17rem; */
}
.left-box{
	display: block;
	width: 0.09rem;
	height: 0.15rem;
	/* background: yellow; */
	margin-left: 0.14rem;
}
.left-box img{
	width: 100%;
	height: 100%;
	display: block;
}
.right-box{
	display: block;
	width: 0.26rem;
	height: 0.05rem;
	/* background: pink; */
	align-self: center;
	margin-right: 0.14rem;
	display: flex;
	justify-content: space-between;
}
.dian1{
	width: 0.05rem;
	height: 0.05rem;
	border-radius: 50%;
	background: #9c9c9c;
}
@font-face {
  font-family: 'iconfont';  /* project id 376004 */
  src: url('http://at.alicdn.com/t/font_1ww9i6rmw4nuq5mi.eot');
  src: url('http://at.alicdn.com/t/font_1ww9i6rmw4nuq5mi.eot?#iefix') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font_1ww9i6rmw4nuq5mi.woff') format('woff'),
  url('http://at.alicdn.com/t/font_1ww9i6rmw4nuq5mi.ttf') format('truetype'),
  url('http://at.alicdn.com/t/font_1ww9i6rmw4nuq5mi.svg#iconfont') format('svg');
}
.iconfont{
     font-family: 'iconfont';
     font-size: 0.15rem;
     color: #9c9c9c;
}
.wenzi{
	width: 100%;
	height: 0.85rem;
	/* background: yellow; */
	overflow: hidden;
}
.wenzi-box{
	/* width: 3.36rem;
	height: 0.44rem; */
/* 	background: pink; */
	margin-left: 0.14rem;
	margin-top: 0.11rem;
	font-size: 0.16rem;
	color: #444444;
}
.wanbao{
	font-size: 0.11rem;
	color: #cacaca;
	margin-left: 0.14rem;
	margin-top: 0.10rem;

}
.banner{
	display: block;
	width: 100%;
	height: 2.09rem;
	/* background: pink; */
}
.banner img{
	display: block;
	height: 100%;
	width: 100%;
}
.photo-id{
	width: 100%;
	height: 0.33rem;
	/* background: yellow; */
}
.id{
	width: 1.44rem;
	height: 100%;
	/* background: green; */
	margin: 0 auto;
	border-bottom: 0.01rem solid #efefef;
	font-size: 0.1rem;
	color: #c3c3c3;
	text-align: center;
	line-height: 0.33rem;
}
.neirong{
	width: 100%;
	height: 1.74rem;
	/* background: pink; */
}
.neirong span{
	display: block;
	font-size: 0.12rem;
	color: #303030;
	/* text-align: center; */
	margin-left: 0.14rem;
}
.bottom{
	width: 100%;
	height: 0.48rem;
	/* background: red; */
	overflow: hidden;
	display: flex;
}
.comment{
	width: 1.63rem;
	height: 0.19em;
	/* background: yellow; */
	margin-top: 0.14rem;
	margin-left: 0.14rem;
	border-right: 0.01rem solid #ebebeb;
	overflow: hidden;
}
.smallbox{
	width: 100%;
	height: 0.12rem;
	/* background: black; */
	margin-top: 0.04rem;
	display: flex;
	justify-content: space-between;
}
.left{
	width: .11rem;
	height: .12rem;
	/* background: pink; */
}
.right{
	display: block;
	width: 0.85rem;
	height: .12rem;
	/* background: pink; */
	font-size: 0.12rem;
	color: #9b9b9b;
	white-space: nowrap;
	margin-right: 0.6rem;
}
.left img{
	display: block;
	width: 100%;
	height: 100%;
}
.logos{
	width: 1.43rem;
	height: 0.16rem;
	/* background: green; */
	margin-top: 0.16rem;
	margin-left: 0.17rem;
	display: flex;
	justify-content: space-between;
}
.first-logo{
	display: block;
	width: 0.16rem;
	height: 0.16rem;
	/* background: pink; */
}
@font-face {
  font-family: 'iconfont';  /* project id 376102 */
  src: url('http://at.alicdn.com/t/font_teaicpfhxt5ljtt9.eot');
  src: url('http://at.alicdn.com/t/font_teaicpfhxt5ljtt9.eot?#iefix') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font_teaicpfhxt5ljtt9.woff') format('woff'),
  url('/http:/at.alicdn.com/t/font_teaicpfhxt5ljtt9.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_teaicpfhxt5ljtt9.ttf') format('truetype'),
  url('/http:/at.alicdn.com/t/font_teaicpfhxt5ljtt9.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_teaicpfhxt5ljtt9.svg#iconfont') format('svg');
}
/* .iconfnt{
	font-family: 'iconfont';
	font-size: rem;
	color: #8a8a8a;
} */
.bigbox{
	transform: translateX(-60%);
}
.xuanxiangbox{
	width: 60%;
	height: 100%;
	background: #f7f6fb;
	position: absolute;
	top: 0;
	left: 40%;
}
.fix-box{
	width: 1.6rem;
	height: 3.05rem;
	/* background: pink; */
	margin-top: 1rem;
	margin-left: 0.23rem;
}
.fix-box li,.fix-box li a{
	display: block;
	width: 100%;
	height: 0.61rem;
	border-bottom: 0.01rem solid #ebecf1;
	overflow: hidden;
	font-size: 0.14rem;
	color: #f37370;
}
.fix-box li:nth-child(5){
	border-bottom: none;
}
.fix-box li:nth-child(5) a{
	border-bottom: none;
}
.shoucangbox{
	width: 0.56rem;
	height: 0.17rem;
	/* background: yellow; */
	margin: 0.24rem 0.05rem;
	white-space: nowrap;
	line-height: 0.17rem;
	display: flex;
}
.icon-xingzhuang60kaobei2,.icon-aa,.icon-fenxiang,.icon-lajitong,.icon-shape11{
	color: #f97479;
}
.box11{
	font-size: 0.14rem;
	color: #f49f9a;
}